html, body {
    height: 100%;
    margin: 0;
}
        
header {
    text-align: center;
    padding: 20px;
    background-color:   rgba(5, 33, 194, 0.7); /* Add background color with some transparency */
}

h1 {
    margin: 0;
    color: #fff; /* Set text color to white for better visibility on the background */
}


.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;
}

.login {
    padding: 20px;
    border: 1px solid #000000;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.8); /* Add background color with some transparency */
}

.login h2 {
    margin-top: 0;
    color: #000000;
}

.login_button_container {
    width: 100%;
    text-align: center;
}