*{
    margin: 0;
    padding: 0;
    user-select: none;
    font-family: Arial, Helvetica, sans-serif;
}
html{
    width: 100%;
    height: 100%;
}
body{
    /* background-image: linear-gradient(to right bottom, #4b17da, #18055b, 
    #140551, #110448, #0f013f); */
    background-image: radial-gradient(circle, #005ce7, #0071f1, #0084f8,  
    #0096fc, #1fa8ff);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%; 
    height: 100%;
    overflow: hidden;
}
header{
    color: whitesmoke;
    /* background-image: linear-gradient(to right top, #1e0074, #180267,
    #13035a, #10034d, #0e0041); */
    background-image: linear-gradient(to right, #0549af, #0057b6, #0064bb, #0071bf, #117dc2);
    box-shadow: 10px 7px 15px black;
    margin-bottom: 10px;
    height: 65px;
}
header h1{
    font-size: 30px;
    padding: 10px 15px 10px 50px;
    width: 550px;
    height: 65px;
}
.login{
    width: 25%;
    color: whitesmoke;
    justify-content: center;
    margin: auto;
    margin-top: 15%;
    position: absolute; 
    /* background-color: rgba(0,0,0, 0.4); 
    box-shadow: 10px 7px 15px black; */
    border-radius: 10px;
}
.logo img{
    position: absolute;
    width: 30%;
    margin: auto;
    pointer-events: none;
}
.login h2{
    font-size: 25px;
    text-align: center;
    padding: 10px;
}
.login form{
    text-align: center;
    padding: 15px;
}
.login label{
    font-size: 15px;
    padding: 5px;
}
.login .login_button{
    background: none;
    color: yellow;
    padding: 5px 10px;
    margin-bottom: 10px;
    border: none;
} 
.login .login_button:active{
    color: whitesmoke;
}
.login span{
    display: flex;
    justify-content:center;
    color: yellow;
}
select, input, textarea, option{
    border-radius: 5px;
    color: #000000;
}
textarea:focus, input:focus {
    color: #000000;
}
.inputdiv{
    margin: 10px;
}
input.create{
    font-size: 15px;
    color: yellow;
}
#student_id, #password{
    color: #000000;
    padding: 2px 4px;
}
.redirect {
    margin-bottom: 10px;
    width: 160px;
    height: 30px;
    position: absolute;
    top: 0px;
    right: 10px;
    margin-top: 15px;
    background-color: rgba(0,0,0, 0.4);
    /* box-shadow: 10px 7px 15px black; */
    border-radius: 10px;
    text-align: center;
    padding: 5px 0px;
}
.redirect a{
    text-decoration: none;
}
.redirect a:hover {
    color: yellow;
}
.redirect:hover{
    background-color: rgba(0,0,0, 0.1);
}
.back{
    margin-bottom: 10px;
    width: 50px;
    height: 30px;
    position: absolute;
    top: 0px;
    right: 180px;
    margin-top: 15px;
    background-color: rgba(0,0,0, 0.4);
    /* box-shadow: 10px 7px 15px black; */
    border-radius: 10px;
    text-align: center;
    padding: 5px 0px;
}
.back a{
    text-decoration: none;
}
.back a:hover{
    color: yellow;
}
.back:hover{
    background-color: rgba(0,0,0, 0.1);
}
@media screen and (min-width: 600px) {
    .logo img{
        top: 25vh;
        left: 50vw;
        width: 30%;
    }
    .login{
        top: 10vh;
        left: 20vw;
        width: 25%;
    }
    select, input, textarea, option{
        width: 185px;
        height: 28px;
        border-radius: 5px;
        color: #000000;
    }
  }
  
@media screen and (max-width: 1000px) {
    .logo img{
        top: 15%;
        left: 35%;
        width: 30%;
    }
    .login{
        top: 33%;
        left: 26%;
        width: 50%;
        height: 40%;
    }
    select, input, textarea, option{
        width: 70%;
        height: 10%;
        border-radius: 5px;
        color: #000000;
    }
}
