*{
    margin: 0;
    padding: 0;
}
html{
    width: 100%;
    height: 100%;
}
body{
    background-image: linear-gradient(to right bottom, #1d0464, #18055b, 
    #140551, #110448, #0f013f);
    background-repeat: no-repeat;
    color: whitesmoke;
}
span{
    padding: 20px 23px;
    font-size:30px;
    word-spacing: 15px;
    letter-spacing: 2px;
    position: absolute;
}
table{
    width: 100%;
    text-align: center;
    padding: 30px 20px;
}
th, td{
    border: solid lightblue 2px;
    font-size: 20pxpx;
    width: auto;
}
a{
    text-decoration: none;
    color: yellow;
}
form{
    width: 40px;
    display: inline;
}
form input{
    background: none;
    color: whitesmoke;
    padding: 5px;
}
input.back{
    position: absolute;
    top: 20px;
    right: 100px;
}
input.logout{
    position: absolute;
    top: 20px;
    right: 30px;
}
input, select{
    background: none;
    color: yellow;
    border: none;
    text-align: center;
    
}