*{
    margin: 0;
    padding: 0;
}
html{
    width: 100%;
    height: 100%;
}
body{
    background-image: linear-gradient(to right bottom, #1d0464, #18055b, 
    #140551, #110448, #0f013f);
    background-repeat: no-repeat;
}
span{
    
}